@import '../../style/variables';

.recommendations {
  text-align: center;

  > div {
    p {
      margin: 10px 0;
    }
  }

  .title {
    font-weight: 700;
  }

  .price-and-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Pour empiler le texte et le logo verticalement */
  }

  .recommendation-price-range {
    margin-top: 10px;
    font-weight: 600;
  }

  .container-recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    color: black;
    width: 1032px;
    height: auto;
    border-radius: 10px;

    .recommendations-title {
      padding-top: 10px;
      font-weight: 500;
    }

    .recommendations-info {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 20px;

      .recommendation-product {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 140px;
        height: 270px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        .recommendations-image {
          margin-top: 10px;
          width: 100px;
          height: 100px;
        }
        .box-product {
          background-color: rgb(215, 211, 211);
          width: 180px;
        }
        .recommendation-name {
          margin-top: 20px;
          padding-bottom: 10px;
        }

        .recommendation-price {
          position: absolute;
          bottom: 0;
          color: $primary-color;
        }
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .recommendations {
      .container-recommendations {
        width: 100%;
        height: auto;

        .recommendations-info {
          grid-template-columns: repeat(2, 1fr);

          .recommendation-product {
            .box-produc {
              width: 170px;
            }
          }
        }
      }
    }
  }
}
