@import '../../style/variables';

header {
    margin: 44px 16px 30px;

    @media screen and (min-width: $very-large) {
        margin: 44px 200px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}