# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node.js
node_modules/

# Fichiers de build
build/
dist/
*.css
*.map

# Fichiers d'environnement
.env.local
.env.development
.env.test
.env.production

# Firebase
.firebase/
.firebaserc

# Les fichiers d'édition automatique
.idea/
.vscode/

# Les fichiers de configuration pour les tests
/coverage/

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OS
.DS_Store

# Windows
Thumbs.db
