@import '../../style/variables';

.quizz {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
  font-weight: 600;

  .question {
    width: 240px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h2 {
      text-align: center;
      margin-bottom: 10px;
    }

    .card-question {
      width: 220px;
      height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 40px;
    }

    .response-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;

      button {
        margin-right: 15px;
        border: none;
        background-color: rgba(180, 3, 3, 0.716);
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .price-question {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        padding-top: 20px;
      }
      .slider {
        width: 100%;

        .slider-input {
          background: #d61920;
          height: 20px;
          width: 100%;
          &::-webkit-slider-thumb {
            background-color: white(227, 62, 62);
          }

          &::-webkit-slider-runnable-track {
            background-color: red;
          }

          &::-moz-range-thumb {
            border: none;
            background-color: rgb(255, 0, 0);
            cursor: pointer;
          }

          &::-moz-range-track {
            height: 5px;
            background-color: rgba(180, 3, 3, 0.716);
          }
        }
      }
    }
  }
}
