@import '../../style/variables';

.quizz {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-color;

  .question {
    width: 240px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h2 {
      text-align: center;
      margin-bottom: 10px;
    }

    .test {
      width: 220px;
      height: 220px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 40px;
    }

    .response-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;

      button {
        margin-bottom: 10px;
      }
    }

    .price-question {
      display: flex;
      flex-direction: column;
      align-items: center;
      .slider {
        width: 100%;
        margin-top: 10px;

        .slider-input {
          background: #D61920;
          height: 20px; /* Ajustez la hauteur du slider selon vos besoins */
          width: 100%;
          /* Change the color of the slider thumb */
          &::-webkit-slider-thumb {
            background-color: white(227, 62, 62);
          }

          /* Change the color of the slider track */
          &::-webkit-slider-runnable-track {
            background-color: red; /* Ajustez selon vos besoins */
          }

          &::-moz-range-thumb {
            border: none;
            background-color: rgb(255, 0, 0);
          }

          &::-moz-range-track {
            height: 5px;
            background-color: rgba(180, 3, 3, 0.716); /* Ajustez selon vos besoins */
          }
        }
      }
    }
  }
}
