@import '../../style/variables';

.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px;

  .errorModif {
    color: $secondary-color;
  }

  form {
    width: 100%;

    @media screen and (min-width: $medium) {
      width: 80%;
    }

    @media screen and (min-width: $large) {
      width: 40%;
    }

    h2 {
      color: $secondary-color;
    }
  }

  input[type='submit'] {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 20px;
    border: 2px solid $secondary-color;
    background-color: $primary-color;
    color: $secondary-color;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 3rem;
    margin-bottom: 40px;
  }
}