@import '../../style/variables';

.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  margin-top: -60px;

  form {
    width: 100%;
    @media screen and (min-width: $medium) {
      width: 80%;
    }

    @media screen and (min-width: $large) {
      width: 40%;
    }
    h2 {
        margin-bottom: 0;
        color: $secondary-color;
    }
  }

  input[type='submit'] {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    padding-inline: 40px;
    border: 2px solid $secondary-color;
    background-color: $primary-color;
    color: $secondary-color;
    cursor: pointer;
    border-radius: 6px;
  }
}
