@import '../../style/variables';

.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 16px;

    & h2 {
        color: $secondary-color;
    }

    & .mainTitle {
        display: none;
        margin: 0;
    }

    & .mainTitle__desc {
        display: none;
        margin: 0;
    }

    h1 {
        color: $secondary-color;
        margin-bottom: 20px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        @media screen and (min-width: $medium) {
            width: 80%;
        }

        @media screen and (min-width: $large) {
            width: 50%;
        }
    }

    .errorMessage {
        color: $tertiary-color;
        margin: 0;
        padding: 0;
    }

    .link {
        align-self: flex-end;
        margin-right: 10%;
        text-decoration: underline;
        color: $secondary-color;
    }

    input[type="submit"] {
        margin-top: 15px;
        padding: 10px;
        padding-inline: 40px;
        border: 2px solid $secondary-color;
        background-color: $primary-color;
        color: $secondary-color;
        cursor: pointer;
        border-radius: 6px;
    }

    .signup {
        display: flex;
        align-items: center;

        &-text {
            color: $secondary-color;
            margin: 0;
            padding: 0;
        }

        &-link {
            color: $tertiary-color;
        }
    }
}