@import '../../style/variables';

#ty-quizz {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0 2rem;

  h1 {
    margin: 1rem 0 2rem 0;
  }
}
