@import '../../style/variables';

.form {
    margin: 0 16px;
    text-align: center;

    &__title {

        &--white {
            color: $secondary-color;
        }

        &--yellow {
            color: $tertiary-color;
        }
    }
}

.titles {
    text-align: left;
}